:root{
  --vermelho: #E50914;
  --preta: #141414;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  background-color: var(--preta);
  
  font-family: "Times New Roman", Times, serif;
  font-size: 62.5%;
  color: #fff;
}

/* NAVEGAÇÃO */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: var(--vermelho);
  font-family: "Arial Black";
  font-size: 4rem;
}

header nav a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 2rem;
  margin-right: 1rem;
}

header nav a:hover{
  color: #FFF;
}

/* FILME PRINCIPAL */

.filme-principal {
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/dune-background.jpg');

  height: 40rem;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.titulo{
  font-size: 3.6rem;
  font-weight: 600;
  font-family: 'Trebuchet MS', Arial, serif;

  margin-top: 15%;
}

.descricao {
  margin-bottom: 4rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.btn{
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;

  padding: 1.5rem 3rem;
  margin-right: 1.5rem;

  cursor: pointer;
  transition: .3s ease all;
}

i{
  margin-right: 1rem;
}

.btn:hover {
  background-color: white;
  color: var(--preta);
}

/* WRAPPER */
.container {
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.filme-principal .container {
  width: 70%;
}

/* CAROUSEL */

.carrosel-filmes{
  height: 40px;
  width: 100%;
  display: block;
}